<a href="https://colab.research.google.com/github/khinenwehtun/MMDT_2025_PY101/blob/main/khinenwehtun/Ex2_datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ex 1 : Check the lenght of the string "My name is python"

In [ ]:
string="My name is python"
len(string)

17

Ex 2: Check the number of times "python" (regardless of cases: PYTHON, python, Python" appears in the paragraph : "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."

In [ ]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language"

Ex 3: Combine two lists : ls1 = ["apple", "banana", "cherry"] and ls2 = ["apple", "banana", "cherry", "apple", "cherry"]. Print the number of elements in new list.

In [ ]:
lista=["apple","banana","cherry"]
listb=["apple","banana","cherry","apple","cherry"]
lista+listb

['apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'cherry']

Ex 4: Create a dictionary for the following table:

| Name | Age |
| --- | --- |
| Myo | 32 |
| Thida | 64 |

In [ ]:
Dictionary={"Name":"myo","age":32,"Name":"Thida","age":64}
Dictionary["Name"]

'Thida'

In [ ]:
Dictionary["age"]

64

Ex 5: Combine two sets and print the combined set and its length.
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}

In [ ]:
set1={"Name","age","Height"}
set2={"Name","status","Education"}
set1&set2

{'Name'}

Ex 6: Write a program that asks the user to enter a string. The program should create a new string called new_string from the user's string such that the second character is changed to an asterisk and three exclamation points are attached to the end of the string. Finally, print new_string.

In [ ]:
list=("enter","new","string")
print(list)
new_list=list
print(new_list)

('enter', 'new', 'string')
('enter', 'new', 'string')

Ex 7: Write a program that converts the given string 's' to lowercase, removes all Punctuation marks such as period, hyphen, and commas from 's', and prints the resulting string.

In [ ]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
new_string=s.lower().replace("-","").replace(","," ")
print(new_string)

floatingpoint values in python are always done in double precision; hence  python float types correspond to doubles in a clike language.

Ex 8: L1 and L2 should be identical. Write a program that finds the missing number in L2.

In [ ]:
from random import randint

Ex 9: Write a program to copy the ls1 = ["apple", "banana", "cherry"] to a new list. Add the element "blueberry" to the new list, but keep the original list the same.

In [ ]:
list=["apple","banana","cherry"]
new_list=list.copy()
new_list[2]="blueberry"
print("new_list : ","new_List")
print("list:",list)

new_list :  new_List
list: ['apple', 'banana', 'cherry']